.App {
  font-family: sans-serif;
  text-align: center;
}

.videoElement {
  /* position: -webkit-sticky;
  position: sticky; */
  /* top: 0; */
  /* position: fixed;
  top: 0; */
  height: 500px;
  background-color: green;
}

#mycontainer {
  height: calc(100vh + 1000px);
}
